.navitemwidth
{
    width: 80px;
    padding-top: 5px;
}

.nav-textSize
{
 font-size: 12px;
}
.nav-default
{
    color: gray;
}
.list-group-item
{
    font-size: 12px;
    border: 0;
}
.list-group-text
{
    color: blue;
    font-weight: bold;
}